* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F5F1ED !important;
}

.container {
    margin: 1rem;
    
    /* text-align: center; */
}

.nav {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    font-size: large;
}

.site-title{
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color: #721e1e;
}

.nav li:hover {
    background-color: #ffffff;
}

.custom-rectangle {
    width: 400px;
    height: 300px;
    background-color: #3490dc;
    border-radius: 1rem; /* Rounded corners */
    padding: 1.5rem;
  }

  .carousel-image {
    height: 70vh; /* Adjust the height to your desired value */
    object-fit: cover; /* This ensures the image covers the entire container */
  }

  .container {
    background-color: #B64C4C;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 5px;
  }

  .container-white {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #fdcaca;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 15px; /* Adjust the value to change the roundness */
  }

  .title-header {
    color:#ffffff;
    text-align: center;
    margin-top: 1%;
    font-size: 50px;
  }

  .title-p {
    color:#ffffff;
    margin-left: 3vh;
    margin-right: 3vh;
    margin-top: 2vh;
    font-size: 22px;
    text-align: left;
  }

  